name: build-and-push

run-name: build and push on dockerhub
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: construction of docker image
        run: docker build . -t weather:0.0.2
      - name: authenticate on docker hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_PWD }}
      - name: definition of docker image tag
        run: docker tag weather:0.0.2 ${{ secrets.DOCKERHUB_REGISTRY }}/weather:0.0.2
      - name: Push on docker hub
        run: docker push ${{ secrets.DOCKERHUB_USER }}/${{ secrets.DOCKERHUB_REGISTRY }}:0.0.2